<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><b>Name: </b> <%= @message[:name] %></p>
    <p><b>Email: </b> <%= @message[:email] %></p>
    <p><b>Company: </b> <%= @message[:company] %></p>
    <p><b>Message: </b> <%= @message[:message] %></p>
  </body>
</html>