// GBUX Fonts

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
//Font Vars
$font-family-1: 'Questrial', sans-serif;
$font-family-scriptb: 'Reenie Beanie', cursive;
$font-family-script: 'Nothing You Could Do', cursive;

$breakpoint-small: 1000px;
$breakpoint-phone: 480px;

$dark-gray: #2B3D3B;
$med-gray: #F0F6F3;
$light-gray: #F9F9F9;
$bg-gray: #F0F5F2;
$purple: #493ebe;
