// GBUX Fonts

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
//Font Vars
$font-family-1: 'Questrial', sans-serif;
$font-family-scriptb: 'Reenie Beanie', cursive;
$font-family-script: 'Nothing You Could Do', cursive;

$breakpoint-small: 1000px;
$breakpoint-phone: 480px;

$dark-gray: #2B3D3B;
$med-gray: #F0F6F3;
$light-gray: #F9F9F9;
$bg-gray: #F0F5F2;
$purple: #493ebe;
$limebg: #B0F8F1;
$limelite1: #CFFFFA;
$limelite2: #B3FCF5;
$litegreen: #AAEFE8;
$midgreen: #7BE0BC;
$navy-blue: #2B618A;



$btn-border-radius: 4px;
$input-border-color: transparent;
$inputs-border: 1px solid $input-border-color;
$alkimii-blue: #4A90E2;
$amm-universal-light-gray:#979797;
$amm-smoke-gray: #a1adcd;
$amm-action-color: #4A90E2;
$amm-orange:#F5A623;
$amm-green:#27C088;
$amm-red-warning-color:#F25757;
$padding-12: 12px;

// Input Shadows
$box-shadow-1: 0 2px 7px 0 rgba(43, 97, 138, 0.12);