@import '_design_vars';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto');
html {
   h1, h2, h3, h4, h5, h6, h7, p {
      font-weight: 400;
   }
   body {
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      background-color: $med-gray;
   }
}